<div class="container mx-auto py-6">
    <div>
        <p class="join-fb-text">Join Facebook Groups</p>
        <p class="description mt-5">Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics.</p>
    </div>
    <div class="owl-carousel owl-theme mt-10">
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Facebook Group<br><span class="text-xs">21,349 members</span></span>
                </div>
                
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>
                <a href="https://www.facebook.com/groups/nothingheldback/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Facebook Group
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb-jv.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Job Board<br><span class="text-xs">21,349 members</span></span>
                </div>
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>
                <a href="https://www.facebook.com/groups/nothingheldbackjobboard/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Job Board
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb-jobboard.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Join Venture Network<br><span class="text-xs">21,349 members</span></span>
                </div>
                
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>  
            
                <a href="https://www.facebook.com/groups/nhbjvn/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Integration Network
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Facebook Group<br><span class="text-xs">21,349 members</span></span>
                </div>
                
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>
                <a href="https://www.facebook.com/groups/nothingheldback/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Facebook Group
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb-jv.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Job Board<br><span class="text-xs">21,349 members</span></span>
                </div>
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>
                <a href="https://www.facebook.com/groups/nothingheldbackjobboard/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Job Board
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb-jobboard.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Join Venture Network<br><span class="text-xs">21,349 members</span></span>
                </div>
                
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>  
            
                <a href="https://www.facebook.com/groups/nhbjvn/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Integration Network
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Facebook Group<br><span class="text-xs">21,349 members</span></span>
                </div>
                
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>
                <a href="https://www.facebook.com/groups/nothingheldback/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Facebook Group
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb-jv.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Job Board<br><span class="text-xs">21,349 members</span></span>
                </div>
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>
                <a href="https://www.facebook.com/groups/nothingheldbackjobboard/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Job Board
                </a>
            </div>
        </div>
        <div class="card rounded-lg shadow-lg p-7">
            <div class="card-content p-2">
                <div class="new-div p-0 m-0">
                    <img src="./assets/ngb-jobboard.PNG" alt="NGB Image">
                </div>
                <div class="page-name mt-2">
                    <div class="facebook-icon-circle">
                        <div class="white-circle">
                            <i class="fab fa-facebook text-white"></i>
                        </div>
                    </div>
                    <span class="text-gray-700 font-semibold">NHB Join Venture Network<br><span class="text-xs">21,349 members</span></span>
                </div>
                
                <div class="mt-5">
                    <p class="text-lg mb-2 content-text">
                        More than a job board. Hire talent. Build a team. Find a job. Get a gig.
                        Work with the best.
                    </p>
                </div>  
            
                <a href="https://www.facebook.com/groups/nhbjvn/" target=”_blank” class="facebook-button absolute bottom-0 left-10 right-0 bg-blue-500 text-white py-2 text-center rounded-lg m-10 mt-10 pt-3">
                    <span class="mr-2">
                        <i class="fab fa-facebook"></i>
                    </span>
                    Join Integration Network
                </a>
            </div>
        </div>
    </div>
</div>
<div class="custom-prev">
    <i class="fas fa-chevron-left"></i>
</div>
<div class="custom-next">
    <i class="fas fa-chevron-right"></i>
</div>
